.accent-block
{
    --side-size: #{$l_gapBig};
    --_c-primary: black;
    --_c-text: black;

    scroll-margin-top: $l_gapBig;
    display: flex;

    &__side
    {
        width: calc(var(--side-size) - 2px);

        .side-block
        {
            @include flexCC;
            width: var(--side-size);
            height: var(--side-size);

            font-weight: 500;

            &:first-of-type
            {
                background: var(--_c-primary);
                color: white;
                cursor: help;
            }

            &:not(:first-of-type)
            {
                border: 2px solid var(--_c-primary);
                color: var(--_c-primary);
                cursor: pointer;
                @include transition(background-color);
            }
        }
    }

    &__content
    {
        flex: 1;

        .content-block
        {
            padding-left: $l_gap;
            border-left: 2px solid var(--_c-primary);

            &:first-of-type
            {
                .content-block__header
                {
                    font-weight: bold;

                    a
                    {
                        color: var(--_c-text);
                        @include animTextUnderline;
                    }
                }
            }

            &:not(:first-of-type)
            {
                border-left-style: dotted;
            }

            &__header
            {
                height: var(--side-size);
                color: var(--_c-text);
                font-weight: 500;
                text-align: left;
            }
        }
    }

    @include max-bp('mini')
    {
        flex-direction: column;

        &__side
        {
            display: flex;
            width: 100%;
        }

        &__content
        {
            .content-block
            {
                &:first-of-type
                {
                    padding-top: $l_gapSmall;
                }

                &__header
                {
                    height: auto;
                }
            }
        }
    }
}

.accent-link
{
    color: var(--_c);
    @include animTextUnderline;
}

//
//
//

@mixin accentBlockColors($type, $color)
{
    .accent-block--#{$type}
    {
        --_c-primary: #{$color};
        --_c-text: #{$color};
        --_c-hover: #{mix($color, transparent, 15%)};
    }

    .accent-link--#{$type}
    {
        --_c: #{$color};
    }
}

@include accentBlockColors('definition', #609955);
@include accentBlockColors('theorem', #997055);
@include accentBlockColors('example', #828282);
@include accentBlockColors('dodem', #558199);

//
// Custom rules
//

.accent-block--definition .definition
{
    color: var(--_c-primary);
    font-weight: bold;
    @include animTextUnderline;
}

//
// Expandable Accent Block
//

.accent-block--expandable
{
    .side-block:nth-of-type(2)
    {
        overflow: hidden;
        @include transition(background-color);

        &:hover { background-color: var(--_c-hover); }

        i { @include transition(transform); }
    }

    &:not(._expanded) { .content-block:not(:first-of-type) { display: none; } }

    &._expanded
    {
        .side-block:nth-of-type(2)
        {
            i { transform: rotateZ(180deg); }
        }

        .content-block
        {
            &:first-of-type { padding-bottom: $l_gap / 2; }
            &:not(:first-of-type) { padding-top: $l_gap / 2; }
        }
    }
}

//
// Example
//

.accent-block--example
{
    a.dodem-ref
    {
        margin-left: $l_gapSmall;
        padding: 4px 7px;

        font-weight: normal;
        font-size: 80%;
        text-decoration: none;

        border: 1px solid var(--color-border-light);
        background-color: var(--color-bg-accent-strong);

        &::before
        {
            content: "Д.";
            margin-right: 2px;
        }

        @include transition(border-color, color);

        &:hover
        {
            cursor: pointer;
            border-color: var(--color-border);
            color: var(--color-text) !important;
        }

        &:first-of-type { margin-left: $l_gap; }
    }
}