@import '../_global/_vars';
@import '../_global/_mixins';
@import '../_global/_breakpoints';

main
{
    a
    {
        color: var(--color-brand-strong);
        @include animTextUnderline;
    }

    //
    // Accent blocks
    //

    @import '../includes/accent-block';    

    //
    // Headers
    //

    .header-anchor
    {
        opacity: 0;
        margin-left: $l_gapSmall;
        font-size: 70%;

        color: var(--color-text-muted);
        &:hover { color: var(--color-text-muted-semi) }

        @include transition(color, opacity);
    }

    h1, h2, h3, h4, h5, h6
    {
        &:hover .header-anchor { opacity: 1; }
    }
}