*
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body
{
    min-height: 100%;
}

body
{
    color: var(--color-text);
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    background: var(--color-bg);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

main
{
    margin: 0 auto;
    width: 100%;

    @include transition(opacity);

    @include min-bp('stretch', 1px)
    {
        width: $l_content;
    }

    @include between-bp('noFullNav', 'stretch')
    {
        width: 100%;
        padding-left: $l_nav;
        padding-right: $l_gapBig;
    }

    @include max-bp('noFullNav')
    {
        padding: 0 $l_gapBig;
    }

    @include max-bp('mini')
    {
        padding: 0 $l_gap;
    }
}

body.theme--dark
{
    &::-webkit-scrollbar
    {
        width: 15px;
    }

    &::-webkit-scrollbar-thumb
    {
        background: #333333;
        border: 1px solid #4D4D4D;
    }

    &::-webkit-scrollbar-track
    {
        background: var(--color-bg-accent);
    }
}